doctype html 
head 
	title=title
	link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway")
	link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
.container
	.well.well-sm 
		h1.text-center=name
	link(href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" rel="stylesheet")
	link(rel='stylesheet', href='/stylesheets/family-page.css')



.center
	.row 
		.col-12
			.service-header Name of Deceased
	.row.justify-content-around
		.col-md-4 
			img.image(height=250, width=200, src="/images/pfp.jpg")
		.col-md-7.donation-section
			.row 
				.donations
					h4.current-donations=donation_goal
					.goal of 2,000,000
				.bar 
					.progress

				.row-md-6 
					.center
						button.donate() DONATE
						i.fa-solid.fa-hand-holding-dollar
				.row-md-6
					.center
						button.share() SHARE
	.row.justify-content-around 
		.col-md-3
			.row
				.containers
					.service-header Visitation
					.details
						.service-headers Date: 
						.service-details=visitation_date
					.details
						.service-headers Time:
						.service-details=visitation_time 
					.details
						.service-headers Location:
						.service-details=visitation_location 
						
	.col-md-3 
			.row 
				.containers
					.service-header Funeral Service
					.details
						.service-headers Date: 
						.service-details=funeral_date
					.details
						.service-headers Time:
						.service-details=funeral_time 
					.details
						.service-headers Location:
						.service-details=funeral_location 
	.col-lg-10
		.row 
			.containers
				.service-header OBITURAY

.new-container 
	.center
		button.leave-message LEAVE A COMMENT
		
.new-container 
	.center
		a.btn.btn-info(href="" + page_name role='button') View Page