doctype html 
html
	head 
		include header.html
head 
	title=title
	link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
.container
	.well.well-sm
		.background-color
			h1.text-center='Review page for ' + page_name
	br
	form.form-horizontal(method='post' action='nothing')
		fieldset 
			.row 
				.col-md-12 
					h2 This section denotes a header
			.row
				.col-sm-4
					h4 Visitation Date:
				.col-sm-8
					h4=visitation_date
			.row
				.col-sm-4
					h4 Visitation Location:
				.col-sm-6
					h4=visitation_location
			.row 
				.col-sm-12 
					p.text-center=vistitation_description
			.row(style="background-color:lightgrey;")
				legend.text-center Insert review regarding visitation
				.form-group
					label.col-md-2.control-label(for='visitation_review') visitation_review
					.col-md-10
						input#page_name.form-control.input-md(name='visitation_review' type='text' placeholder='List issues regarding visitation details')
			.row 
				.col-md-12 
					h2 This section denotes a header
			.row
				.col-sm-4
					h4 Funeral Date:
				.col-sm-8
					h4=funeral_date
			.row
				.col-sm-4
					h3 Funeral Location:
				.col-sm-8
					h3=funeral_location
			.row 
				.col-sm-12 
					p.text-center=funeral_description
			.row(style="background-color:lightgrey;")
				legend.text-center Insert review regarding funeral
				.form-group
					label.col-md-2.control-label(for='funeral_review') funeral_review
					.col-md-10
						input#page_name.form-control.input-md(name='funeral_review' type='text' placeholder='List problems regarding funeral details')
			br
			.row 
				.col-md-12 
					h2 This section denotes payment information 
			.row 
				.col-sm-4 
					h4 Donation goal 
				.col-sm-8 
					h4=donation_goal 
			.row 
				.col-sm-4 
					h4 Deadline 
				.col-sm-8 
					h4=deadline
			.row(style="background-color:lightgrey;")
				legend.text-center Insert review regarding payment information
				.form-group
					label.col-md-2.control-label(for='payment_review') payment_review
					.col-md-10
						input#page_name.form-control.input-md(name='payment_review' type='text' placeholder='List problems regarding payment details')
			.row 
				.col-lg-12 
					h2 This section denotes an obituary
			.row 
				.col-lg-12 
					p=obituary
			.row(style="background-color:lightgrey;")
				legend.text-center Insert review regarding obituary information
				.form-group
					label.col-md-2.control-label(for='obituary_review') obituary_review
					.col-md-10
						textarea#page_name.form-control.input-md(name='obituary_review' rows='6' placeholder='List problems regarding obituary details')
			.row 
				.form-group
					label.col-md-4.control-label(for='submit')
					.col-md-8
						a.btn.btn-info(href='/./search/pages/'+family_id+'/'+page_name role='button') Simulate Page Creation
.row
	.col-md-6
			a.btn.btn-info(href=back role='button') Back
html
	head
		include footer.html